<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        #sidebar {
            position: fixed;
            
            top: 50px;
            float: none;
            background-color: #40464c;
            color: #ffffff;
            height: 100vh;
            padding-top: 20px;
        }
        a {
            color: #ff4a17;
            text-decoration: none;
        }

        a:hover {
            color: #ff724a;
            text-decoration: none;
        }

        #content {
            padding: 20px;
        }

        .navbar {
            background-color: #007bff;
            color: #ffffff;
        }

        .navbar-brand {
            color: #ffffff;
        }

        .nav-link {
            color: #ffffff;
            font-size: 18px;
        }

        .card {
            margin-bottom: 20px;
        }

        .card-header {
            background-color: #007bff;
            color: #ffffff;
        }
        
    </style>

</head>
<body>
    <br><br>
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block  fixed-left " style="background: #212b31;" >
        <div class="sidebar-sticky" id="sticky-sidebar" style="float: none;">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <br>
                    <a class="nav-link active" href="/admins/dashboard">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admins/myEvents/<%=admin[0]._id%>">
                        Events
                    </a>
                </li>
                
                <% if(admin[0].admin_username === "abhigna1"){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/admins/addAdmin">
                            Add Admin
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admins/manageAdmins">
                            Manage Admins
                        </a>
                    </li>

                <%}%>
                <li class="nav-item">
                    <a class="nav-link" href="/admins/settings/<%=admin[0]._id%>">
                        Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admins/logout">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>